<div class="container">
  <mat-grid-list cols="3" rowHeight="2:2.5">
  <mat-grid-tile>
    <img class="image"alt="" src="./assets/FotoPerfil.jpg" />
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let usuario of data">
    <div>
      <b>Nombre</b>
      <div></div>
      <p>{{ usuario.nombre }}</p>
      <div></div>
      <b>Apellido</b>
      <div></div>
      <p>{{ usuario.apellido }}</p>
      <div></div>
      <b>Correo</b>
      <div></div>
      <p>{{ usuario.correo }}</p>
      <div></div>
      <b>Celular</b>
      <div></div>
      <p>{{ usuario.celular }}</p>
      <div></div>
      <b>Fecha de nacimiento</b>
      <div></div>
      <p>{{ usuario.fecha }}</p>
      <div></div>
      <b>Ubicacion</b>
      <div></div>
      <p>{{ usuario.ubicacion }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <b>Método de pago</b>
      <div></div>
      <mat-form-field>
        <mat-label>Método de pago</mat-label>
        <input matInput>
      </mat-form-field>
      <div></div>
      <b>Plan de suscripción</b>
      <div></div>
      <mat-form-field>
        <mat-label>Plan de suscripción</mat-label>
        <input matInput>
      </mat-form-field>
      <div></div>
      <button mat-flat-button color="accent">Ver reservados</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div>
      <button mat-flat-button [routerLink]="'/edit-profile'" routerLinkActive="active" color="accent">Editar perfil</button>
      <div></div>

    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div></div>
      <button mat-flat-button [routerLink]="'/plan-options'" routerLinkActive="active" color="accent">Comprar plan premium</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <button mat-flat-button color="accent">Añadir/Editar método de pago</button>
      <div></div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<footer>
  <button mat-flat-button [routerLink]="'/home'" color="accent">Back</button>
</footer>
