<div class="container1">
  <FONT SIZE="7"><FONT COLOR="white" >Bienvenido a </FONT></FONT><br><br><br>
  <FONT SIZE="7"><FONT COLOR="#ff1493">T</FONT></FONT><FONT SIZE="7"><FONT COLOR="white">aste</FONT></FONT><FONT SIZE="7"><FONT COLOR="#ff1493">T</FONT></FONT><FONT SIZE="7"><FONT COLOR="white">our!</FONT></FONT><br><br><br>
</div>

<div class="container2">
  <div class="container responsive-grid">
    <mat-card class="example-card">
      <img mat-card-image src="assets/ComidaCosta.jpg" alt="Comida de la Costa" >

      <mat-card-content>
        <br><div class="container1"><h1>Tour Costa</h1></div>
        <p>
          Explora la frescura del mar con la brisa en tu rostro y
          el aroma salado que envuelve cada momento.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="assets/ComidaSierra%20(3).jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <br><div class="container1"><h1>Tour Sierra</h1></div>
        <p>
          Sumergete en la esencia de la montañas, donde el aire esta impregnado de aromas terrosos y misticos.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="assets/ComidaSelva1.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <br><div class="container1"><h1>Tour Selva</h1></div>
        <p>
          Dejate llevar por la selva, donde los sonidos de la naturaleza se mezclan con los matices de la flora y fauna.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>



