<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
</head>
<body>
<div class="content">
  <div class="content2">
    <h1 class="title"> Pago Realizado </h1>
    <p class="check"><i class='bx bxs-check-circle' style="font-size: 5em; color: #44ec33; "></i></p>
    <p class="text1"> Se realizó la compra exitosamente </p>
    <p class="text2"> Para verificar la compra realizada, vaya a su perfil de usuario y verificarlo en "Reservas"</p>
  </div>
</div>
</body>
<footer>
  <button mat-stroked-button [routerLink]="'/tour-list'" routerLinkActive="active" class = "boton" style="color:white;" >Volver</button>
</footer>

