<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
</head>
<body>
<div class="content">
  <div class="content2">
    <h1 class="title"> Pago rechazado </h1>
    <p class="check"><i class='bx bxs-error-circle' style="font-size: 5em; color:#e80b0b; "></i></p>
    <p class="text2"> Ocurrió un error</p>
  </div>

</div>
</body>
<footer>
  <button mat-stroked-button [routerLink]="'/tour-list'" routerLinkActive="active" class = "boton" style="color:white;" >Volver</button>
</footer>
