@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "../node_modules/primeng/resources/themes/md-light-indigo/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(./assets/FondoDePantalla.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#principal {
  background-image: url(./assets/ComidaPeruana.png);
}
